body {
  font-family: 'Inter', sans-serif;
  color: #333;
}

.about-section {
  background-color: #fdfdfd; /* слоновая кость */
}

/* Заголовок Hero */
.hero-big-title {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 500;
  color: #333;
  line-height: 1.2;
}

.hero-big-title .highlight {
  font-weight: 600; /* Просто жирнее */
  color: #111; /* Чуть темнее */
}


/* Блок About Me */
.about-block {
  margin-top: 60px;
}

/* Заголовок "Обо мне" */
.about-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #111;
  margin-bottom: 20px;  
}

/* Описание под "Обо мне" */
.about-text {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  color: #555;
}

/* Фото */
.hero-photo {
  height: 95vh;
  width: auto;
  object-fit: contain;
  position: relative;
  z-index: 1010; /* Фото поверх меню */
}

:root {
  --navbar-height: 75px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background: transparent;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#fixedNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1020;
}

#fixedNavbar.show-navbar {
  transform: translateY(0);
  opacity: 1;
}

