body {
  font-family: 'Inter', sans-serif;
  color: #333;
}

.about-section {
  background-color: #fdfdfd;
  
}

/* Заголовок Hero */
.hero-big-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  padding-top: calc(var(--navbar-height) + 20px);
}

.hero-big-title .highlight {
  font-weight: 600; /* Просто жирнее */
  color: #ffffff;
}


/* Блок About Me */
.about-block {
  margin-top: 60px;
}

/* Заголовок "Обо мне" */
.about-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #111;
  margin-bottom: 20px;  
}

/* Описание под "Обо мне" */
.about-text {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  color: #555;
}

/* Фото */
.hero-photo {
  height: 95vh;
  width: auto;
  object-fit: contain;
  position: relative;
  z-index: 1010; /* Фото поверх меню */
}

:root {
  --navbar-height: 75px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background: transparent;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#fixedNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1020;
}

#fixedNavbar.show-navbar {
  transform: translateY(0);
  opacity: 1;
}

.subtitle {
  font-family: 'Playfair Display', serif; /* как заголовок */
  font-size: 1.5rem; /* крупнее обычного текста */
  font-weight: 400; /* нормальная толщина */
  color: #222; /* тёмно-серый, элегантный */
  line-height: 1.4;
  margin-top: 1rem;
}


.hero-wrapper {
  max-width: 550px; /* Максимальная ширина фона */
  overflow-wrap: break-word;
  background: #34495e; /* светлый прозрачный фон */
  color: #fdfdfd; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: inline-block;
  padding: 3rem 4rem;
  border-radius: 12px;
  max-width: 100%;
  margin: 0 auto; /* по центру */
}
